:root{
 /*----------Colors----------*/
    --primary-color:#01A7C2;
    --secondary-color:#E6BE1E;
    --accent-color:#BF0267;
    --background-color: #CCDAD1;
    --text-color-black:#1A181B;
    --text-color-white:#FEFEFF;
    --text-color-gray:#F1F2EB;
    --solid-gray:#979797;
    --success-color: #82D993;
    --warning-color: #E7F249;
    --error-color: #E64940;
    --valid-green:#90ee90;
    --invalid-red:#ff726f;

    
/*----------Spacing-----------*/
    --space-xlarge:2.5rem;
    --space-large:2rem;
    --space-medium:1.5rem;
    --space-small:1rem;
    --space-xsmall:0.5rem;
    --space-xxsmall:0.25rem;
}

/*----------Headings----------*/

html{
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--text-color-white);
}

img{
    max-width: 100%;
}

h1{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin: inherit;
}

h2{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: inherit;
}

h3{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin: inherit;
}

h4{
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin: inherit;
}

h5{
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: inherit;
}

button{
    cursor:pointer;
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: 1.25rem;
}

a:hover{
    opacity: 80%;
}

ul{
    list-style-type: none;
}

li{
 text-decoration: none;
 font-size: 1.2rem;
 opacity: 80%;
 width: 50%;
 padding: var(--space-xsmall);
 border-radius:1rem;
 text-align: center;
}

li:hover{
    background-color: var(--background-color);
    cursor: pointer;
}