@import url(Docs/docs.css);

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
 
main{
    height: calc(100vh-228px);
    justify-content: space-around;
    align-content: center;
    margin-top: 10rem;
    padding: var(--sp-1);
}

.hero-wrapper{
    gap:var(--sp-1);
    align-items: center;
    justify-content: center;
}

.para-l{
    white-space: pre-wrap;
    text-align: center;
    max-width:45ch ;
}

.hero-img{
    align-self: center;
    justify-self: center;
    height: 20rem;
}

.hero-btns{
    gap:var(--sp-0-5)
}


@media only screen and (max-width:650px) {
    .hero-img{
        display: none;
    }

    .hero-wrapper{
        margin-top: 10rem;
    }

    main{
        background-image: url("/Assets/journey-0-4.svg");
    }
}
