<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <link rel="stylesheet" href="grid.css">
</head>
<body>
    <h4>Two Column Grid</h4>
    <div class="grid two-item-grid">
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
    </div>
    <br>
    <h4>Three Column Grid</h4>
    <div class="grid three-item-grid">
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
    </div>
    <br>
    <h4>Auto Fit Grid</h4>
    <div class="grid auto-grid">
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
        <div class="grid-item"><h4>Grid Item</h4></div>
    </div>
    
</body>
</html>