@import url("/Documentation/styles/style-guide.css");
@import url("/Documentation/styles/utils.css");
@import url("/Documentation/Components/Text/text-utils.css");
@import url("/Documentation/Components/Avatar/avatar.css");

.wrapper {
    gap: var(--space-small);
    padding-left: var(--space-small);
}

.list-group {
    width: max-content;
    margin: 0;
    padding: var(--space-xsmall);
}

.list-group-item {
    white-space: nowrap;
    text-align: left;
    width: fit-content;
    padding: var(--space-xsmall);
    color: var(--text-color-black);
    transition: all linear 0.2s;
}

.group-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.group-center>.list-group-item{
    text-align: center;
}

.group-spaced{
    text-align: center;
    justify-content: center;
    align-items: center;
    gap:var(--space-xsmall)
}

.group-stack{
   width: 20rem;
   text-align: center;
}

.group-avatar{
    gap:var(--space-small);
}

.item-stack{
    padding: var(--space-small);
    width: 100%;
    border: 1px solid var(--text-color-black);
    border-radius: 0;
    height: fit-content;
    border-radius: var(--space-xsmall);
}

.item-heading{
    font-weight: 700;
}

.item-text{
    gap:var(--space-xsmall);
}

.item-active{
    background-color: var(--accent-color);
    color:var(--text-color-white);
}