@import url("/Documentation/Components/Buttons/button.css");

.modal {
    border: 1px solid var(--text-color-black);
    font-family: 'Open Sans', sans-serif;
    gap: var(--space-xsmall);
    max-width: 30%;
    padding: var(--space-xsmall);
    width: 25rem;
}

.modal-header {
    justify-content: space-between;
}

.para-m {
    border-bottom: 1px solid var(--solid-gray);
    border-top: 1px solid var(--solid-gray);
    padding: var(--space-small) 0;
}

.btns {
    align-self: flex-end;
    gap: var(--space-xsmall);
}

.dismiss-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    transition: all linear 0.2s;
}

.dismiss-btn:hover {
    font-size: 1.2rem;
}