@import url("/CSS/Components/Snackbar/snackbar.css");

.slider-container {
    width: 70%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: var(--background-color);
    outline: none;
    opacity: 0.7;
    padding: 0;
    border: none;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: var(--background-color);
    cursor: pointer;
}