<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="slider.css">
</head>

<body>
    <div class="slider-container">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p class="para-m" id="myRange-output"></p>
    </div>
<script src="slider.js"></script>
</body>

</html>