<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities</title>
    <link rel="stylesheet" href="text-utils.css">
</head>
<body>
    <div class="wrapper flex-column">
     <div class="components-wrapper flex-column">
         <h5>Headings</h5>
         <h1>This is Heading H1</h1>
         <h2>This is Heading H2</h2>
         <h3>This is Heading H3</h3>
         <h4>This is Heading H4</h4>
         <h5>This is Heading H5</h5>
     </div>
     <div class="components-wrapper flex-column">
         <h5>Paragraph</h5>
         <p class="para-l">This is a large paragraph text</p>
         <p class="para-m">This is a medium paragraph text</p>
         <p class="para-s">This is a small paragraph text</p>
     </div>
     <div class="components-wrapper flex-column">
         <h5>Gray Text</h5>
     <p class="para-m text-gray">This is a gray medium paragraph text</p>
     <h3 class="text-gray">This is gray Heading H3</h3>
    </div>
    <div class="components-wrapper flex-column">
        <h5 class="text-center" >Center Text</h5>
    <p class="para-m text-center">This is a medium paragraph text in the center</p>
    <h3 class="text-center">This is Heading H3 in the center</h3>
   </div>
    </div>
    
</body>
</html>