@import url("/Documentation/Components/Buttons/button.css");

html {
    background-color: var(--background-color);
}

.wrapper {
    gap: var(--space-medium);
}

.card-midtext {
    width: 13rem;
    height: fit-content;
    background-color: var(--background-color);
    padding: 5px;
    position: relative;
}

.prod-img {
    width: 100%;
    outline: 1px solid black;
}

.overlay-text {
    position: absolute;
    z-index: 1;
    top: 30%;
    padding: 2px 40%;
    width: fit-content;
    background-color: var(--text-color-white);
}

.card {
    width: 15rem;
    height: fit-content;
    background-color: var(--text-color-white);
    padding: 3px;
    gap: var(--space-xsmall);
    position: relative;
}

.card-horizontal {
    width: 30rem;
    height: fit-content;
    background-color: var(--text-color-white);
    padding: 3px;
    gap: var(--space-small);
    position: relative;
}

.badge-container {
    width: 1.5rem;
    height: 1.75rem;
    position: absolute;
    background-color: var(--text-color-white);
    border-radius: var(--space-small);
    padding: 2.5px 5px;
    display: flex;
    align-items: center;
    right: var(--space-small);
    top: var(--space-small);
}

.badge-img {
    width: 100%;
}

.img-container {
    max-width: 15rem;
}

.right-section {
    justify-content: space-evenly;
}

.badge-container:hover {
    cursor: pointer;
    background-color: red;
}

.text-container {
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    gap: var(--space-xsmall);
}

.prod-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1px;
}

.prod-costs {
    gap: var(--space-xsmall);
    margin-bottom: var(--space-small);
}

.prod-cost {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin: 1px;
}

.prod-mrp,
.prod-discount {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin: 1px;
    text-decoration: line-through;
    color: var(--solid-gray);
}

.btns,
.btns-width-95 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xsmall);
}

.btns-full>button {
    width: 100%;
    border-radius: 0%;
}


.btns-width-95>button {
    width: 95%;
    border-radius: 0%;
}

.btns>button {
    width: 45%;
}