@import url("/CSS/odyssey.css");

body{
    margin: 0;
}
.header{
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
    justify-content: space-between;
    margin:0 var(--sp-1);
}

.header-section-left{
    gap:var(--sp-1);
}
.header-section-left>a{
    align-self: center;
}

.sidebar{
    border-right: 1px solid var(--background-color);
    height:calc(100vh -1rem);
    margin-top: 15px;
    overscroll-behavior: contain;
    overflow-x: hidden;
    overflow-y: auto;
    width: 20rem;
    z-index: 5;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

.sidebar-section{
   margin:5px;
   width: 20rem;
}

.sidebar-heading{
    border-bottom: 1px solid var(--background-color);
}

.sidebar-list-item{
    margin-bottom: var(--sp-0-5);
}






