@import url("/CSS/odyssey.css");

body {
    margin: 0;
}

nav {
    border-bottom: 1px solid var(--solid-gray);
    white-space: nowrap;
    position: sticky;
    top: 0
}

.nav-title {
    color: var(--black);
}

.nav-title-link {
    align-items: center;
    transition: all linear 0.2s;
}

.nav-title-link:hover {
    opacity: 100%;
    transform: translateY(-2px);
}

.main-section {
    grid-template-areas: "sidebar main main main";
    gap: var(--sp-1);
}

.sidebar {
    grid-area: sidebar;
    border-right: 1px solid var(--background-color);
    width: 18rem;
    margin-top: 1.5rem;
    scroll-padding-top: 5.6rem;
    overflow-y: auto;
    height: calc(100vh - 9rem);
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

.sidebar-section {
    margin: 5px;
    max-width: 100%;
}

.sidebar-section-list {
    padding: var(--sp-0-25);
}

.sidebar-heading {
    border-bottom: 1px solid var(--background-color);
}

.sidebar-list-item {
    margin-bottom: var(--sp-0-25);
}

.sidebar-list-item>a {
    color: black;
}

.item-active>a {
    color: var(--white);
}

.item-active:hover {
    background-color: var(--primary-color);
}

main {
    grid-area: main;
    padding: var(--sp-1);
}