@import url("/Documentation/styles/style-guide.css");
@import url("/Documentation/styles/utils.css");

img {
    height: fit-content;
    max-width: 100%;
    object-fit: cover;
}

.round-img {
    border-radius: 50%;
}