<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="modal.css">
</head>

<body>
    <div class="modal flex-column">
        <div class="modal-header flex-row">
            <h3 class="modal-heading">Modal Heading</h3>
            <button class="dismiss-btn">x</button>
        </div>
        <p class="para-m modal-para">This is the description of why we have prompted a modal. It could be things like "All your
            changes will be lost", "You're about to log out"</p>
        <div class="btns flex-row">
            <button class="btn prim-acc-btn">Discard</button>
            <button class="btn prim-btn">Save Changes</button>
        </div>
    </div>
</body>

</html>